html,
body {
  padding: 0.5em;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(249, 247, 247);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* .home_main>a>div:last-of-type {
  border-radius: 1em 1em 0em 0em !important;
}

.home_main>a>div:last-of-type {
  border-radius: 0em 0em 1em 1em !important;
} */

#search-box {
  width: 99%;
  padding: 0.5em;
  background-color: inherit;
  border: none;
  outline: none;
  font-weight: lighter !important;

}

#search_container {
  background-color: rgb(212, 211, 211);
  margin-bottom: 1em;
  border-radius: 0.4em;
  padding: 0.2em 0.7em;
  display: flex;


  align-items: center;
}

.bi {
  color: rgb(119, 119, 119);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: rgb(212, 211, 211); */

  display: flex;
  padding: 0.5em;

}



#footer_notes_counter {
  margin: 0 auto;
  text-align: center;
  align-self: center;
}


#a {
  align-self: center;
  cursor: pointer;
}

#b {
  align-self: center;
  cursor: pointer;
  font-size: 1.5em;

}

#test {
  padding: 1em;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.2em;
  border: none;
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
  outline: none;

}


.star {

  color: rgba(255, 242, 1, 0.978);
  font-size: 1.3em;
}