.card_layout {
  background-color: rgb(255, 255, 255);
  border-radius: 0 !important;
  border-bottom: 1px solid rgb(233, 233, 233);
  word-break: break-word;
  padding: 1em;
  display: flex;

}


.card_layout>a {
  width: 100%;
}

.card_layout>a:hover {
  opacity: 0.6;
}


.card_layout .card_layout_title {
  font-weight: bold;
  margin-bottom: 0.2em;

}

.card_layout_description,
.card_layout_date {
  margin-right: 1em;
  color: rgb(212, 211, 211);
  font-size: 0.8em;
}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}