.header {
  background-color: rgb(246, 246, 173);
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;

  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  border-bottom: 1px solid black;
}




.card_layout {
  background-color: rgb(255, 255, 255);
  border-radius: 0 !important;
  border-bottom: 1px solid rgb(233, 233, 233);
  word-break: break-word;
  padding: 1em;
}



.card_layout .card_layout_title {
  font-weight: bold;
  color: red;
}






@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}